//site color variables
$body-color: #fff;
$primary-color: #333;
$secondary-color: #999;
$text-color: #999;
$text-color-dark: #333;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #666;
$line-color: rgba(0,0,0,.1);

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
