.site-404{
  padding: 160px 0;
  .icon{
    margin: 0 0 24px;
    width: 120px;
    height: 120px;
  }
  @include mobile{

  }
  &-title{
    font-weight: 700;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: $primary-color;
    }
  }
}
