.site-contact{
  padding: 160px 0;
  height: 100%;
  @include mobile{
    padding: 120px 0;
  }
  &-title{
    margin-bottom: 40px;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: $primary-color;
    }
  }
  &-card{
    @include mobile{
      width: 160px;
    }
  }
}
